@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
 margin: 0;
 box-sizing: border-box;
 letter-spacing: .8px;
}

:root {
 --font-size-xs: calc(10px + (28 - 24) * ((100vw - 360px) / 1560));
 --font-size-small: calc(14px + (28 - 24) * ((100vw - 360px) / 1560));
 --font-size-medium: calc((14px + (28 - 24) * ((100vw - 360px) / 1560)) * 1.218);
 --font-size-large: calc((14px + (28 - 24) * ((100vw - 360px) / 1560)) * 1.218 * 1.218);
 --background-light-blue: rgb(210, 246, 254);
 --background-pink-accent: rgb(243, 79, 120);

}

body {
 font-family: 'Poppins', sans-serif;
 min-height: 100vh;
 position: relative;
}

.site-wrapper {
 position: relative;
 min-height: 100vh;
 display: block;
}

.site-content {
 min-height: 100vh;
 padding-bottom: 100px;
 overflow: hidden;
 display: block;
 position: relative;
}

.main-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: auto;
}

.bold {
 font-weight: bold;
}

/* ========== NavBar ============= */
.nav-container {
 box-shadow: 0 3px 4px -4px rgba(0, 0, 0, .55);
 background-color: var(--background-light-blue);
}

.nav {
 min-height: 45px;
 max-width: 1100px;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-links {
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
}

.social-links {
 display: flex;
 justify-content: center;
 align-items: center;
}

.social-link img {
 height: calc(25px + .2vw);
 padding: 0 2rem;
}

.logo {
 height: calc(30px + .6vw);
 margin: 10px 15px 8px;
}

.nav-links :hover,
.nav-links :focus,
.social-link :hover,
.social-link :focus {
 transform: scale(1.05)
}

/* ========== Generator Section ============= */
.g-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.g-title {
 font-size: var(--font-size-large);
 font-weight: 600;
 margin: 2rem 0 0;
 color: var(--background-pink-accent);
}

.g-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 1rem;
}

.input-container>input,
.submit-container> button {
 margin: 0 1rem 1rem;
 padding: .5rem 1rem;
 border: 1.3px solid var(--background-pink-accent);
 border-radius: 5px;
 width: calc(300px + 1.7vw);
 font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 725px) {
 .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

  .input-container>input,
  .submit-container> button {
   width: calc(250px + 1.7vw);
  }
}

.input-container :focus {
 outline: none;
 border: 2px solid var(--background-pink-accent);
}

.submit-container > button {
 background: var(--background-pink-accent);
 color: #fff;
 font-weight: bold;
 padding: .6rem 2rem;
}

.submit-container :hover,
.submit-container :focus {
 cursor: pointer;
 /* color: var(--background-pink-accent);
 background-color: #fff; */
box-shadow: inset 0 -3.25em 0 0 var(--background-light-blue);
border-color: var(--background-pink-accent);
color: var(--background-pink-accent);
transition: .45s;
}

.submit-container :active {
 box-shadow: inset 0 -3.25em 0 0 var(--background-pink-accent);
 color: #fff;
}

.image-container {
 display: flex;
 align-items: center;
 justify-content: center;
 width: calc(250px + 30vw);
 margin: auto;
}
.meme-image {
 max-width: 100%;
}

/* ========== Code Page Section ============= */
.code-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.code-block {
 font-size: var(--font-size-small);
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2rem;
 background-color: var(--background-light-blue);
 padding: 2.5rem;
 border-radius: 10px;
 /* overflow-y: scroll; */
 max-height: calc(60vh + 300px);
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.code-block h2 {
 color: var(--background-pink-accent);
 margin-bottom: 1rem;
}

.code-block p {
 color: rgb(42, 41, 43);
}

.code-code {
 min-height: 700px;
}


/* ========== Footer ============= */
.footer {
 box-shadow: 0 3px 4px -4px rgba(0, 0, 0, .55); display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 50px;
 text-align: center;
 position: absolute;
 bottom: 0;
  background-color: var(--background-light-blue);
}

.footer p {
 font-size: var(--font-size-small);
}

.footer-link {
 text-decoration: none;
 color: var(--background-pink-accent);
 font-weight: bold;
 font-size: var(--font-size-small);
 margin-left: .5rem;
}

.footer-link :hover,
.footer-link :focus {
 transform: scale(1.02);
 filter: brightness(80%);
}